<ion-view view-title="Main Menu">
  <ion-content class="padding">
    <button class="button button-block button-green" ui-sref="romanToDecimal">
      Roman To Decimal (V <i class="fa fa-arrow-right" aria-hidden="true"></i> 5)
    </button>
    <button class="button button-block button-green" ui-sref="decimalToRoman">
      Decimal To Roman (5 <i class="fa fa-arrow-right" aria-hidden="true"></i> V)
    </button>
  </ion-content>
  <ion-footer-bar class="bar-balanced copyright-footer">
    <span class="title">
      <i class="fa fa-copyright" aria-hidden="true"></i>
      &nbsp;2016 - Created by&nbsp;
      <a href="https://www.linkedin.com/in/wouter-fennis-98968bb8" target="_blank" title="Wouter Fennis Linkedin">
        Wouter Fennis
      </a>
    </span>
  </ion-footer-bar>
</ion-view>
