<ion-view view-title="Main Menu">
  <ion-content class="padding">
    <button class="button button-block button-positive" ui-sref="romanToDecimal">
      Roman To Decimal (V --> 5)
    </button>
    <button class="button button-block button-positive" ui-sref="decimalToRoman">
      Decimal To Roman (5 --> V)
    </button>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive">
    <h1 class="copyright"><i class="fa fa-copyright" aria-hidden="true"></i> 2016 - Created by Wouter Fennis</h1>
  </ion-footer-bar>
</ion-view>
